body {
  background: #1d232a;
}

a:link {
  color: #CAD2E2 !important;
}

table {
  background: #1d232a !important;
}

.c00 {
  color: #CAD2E2 !important;
}

/* 🥵 */
.hot {
  color: red !important;
}

.mild {
  color: orange !important;
}
